{%  extends 'index.html' %}
{% load crispy_forms_tags %}
{% load staticfiles %}
{% block Title %}Update Organization{% endblock %}

{% block main_content %}
<div>
    <div class="row">
        <div class="col-md-8 col-xs-12"><h3>{{ organization }}</h3></div>
    </div>
    <form action="" method="post" class="">
        <div class="row">
            <div class="form-group col-md-3 col-xs-12">
            {% csrf_token %}
            {{ form|crispy }}
            </div>
        </div>
        <div class="row">
            <div class="col-xs-3 col-md-3"><input class="" type="submit" value="Save"></div>
            <div class="col-xs-3 col-md-3">
                <a class="btn btn-default btn-sm" href="{% url 'scheduler:organization_membership' organization.id %}">Membership</a>
            </div>
        </div>
    </form>

</div>
{% endblock main_content %}