Django==1.10.5
django-crispy-forms==1.6.1
django-debug-toolbar==1.6
django-environ==0.4.1
django-extensions==1.7.5
djangorestframework==3.5.3
environ==1.0
psycopg2==2.6.2
python-dateutil==2.6.0
pytz==2016.10
six==1.10.0
sqlparse==0.2.2
